DATABASE_URL=postgresql://postgres:TU_PASSWORD@localhost:5432/consultorio
SECRET_KEY=GENERÁ_CON_python_-c_"import_secrets;_print(secrets.token_hex(64))"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
HTTPS_ONLY=false
